In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("Placement_Data_Full_Class - Placement_Data_Full_Class.csv")
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [4]:
df.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [5]:
from Univariate import Preprocess

In [6]:
quan,qual=Preprocess.QuanQual(df)

In [7]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [8]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [9]:
Quan_df=pd.DataFrame(columns=quan,index=["Mean","Median","Mode",
                                         "Q1-25%","Q2-50%","Q3-75%","99%","Q4-100%",
                                        "IQR","1.5*IQR","Lower_Fence","Higher_Fence","minimum","maximum"])

In [10]:
for i in Quan_df:
    Quan_df[i]["Mean"]=df[i].mean()
    Quan_df[i]["Median"]=df[i].median()
    Quan_df[i]["Mode"]=df[i].mode()[0]
    Quan_df[i]["Q1-25%"]=df.describe()[i]["25%"]
    Quan_df[i]["Q2-50%"]=df.describe()[i]["50%"]
    Quan_df[i]["Q3-75%"]=df.describe()[i]["75%"]
    Quan_df[i]["99%"]=np.percentile(df[i],99)
    Quan_df[i]["Q4-100%"]=df.describe()[i]["max"]
    Quan_df[i]["IQR"]=Quan_df[i]["Q3-75%"]-Quan_df[i]["Q1-25%"]
    Quan_df[i]["1.5*IQR"]=1.5*Quan_df[i]["IQR"]
    Quan_df[i]["Lower_Fence"]=Quan_df[i]["Q1-25%"]-Quan_df[i]["1.5*IQR"]
    Quan_df[i]["Higher_Fence"]=Quan_df[i]["Q3-75%"]+Quan_df[i]["1.5*IQR"]
    Quan_df[i]["minimum"]=df[i].min()
    Quan_df[i]["maximum"]=df[i].max()

In [11]:
Quan_df

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1-25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2-50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3-75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4-100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5*IQR,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lower_Fence,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Higher_Fence,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
minimum,1,40.89,37.0,50.0,50.0,51.21,200000.0
maximum,215,89.4,97.7,91.0,98.0,77.89,940000.0

In [12]:
lower=[]
higher=[]
for i in Quan_df:
    if Quan_df[i]["Lower_Fence"]>Quan_df[i]["minimum"]:
        lower.append(i)
    if Quan_df[i]["Higher_Fence"]<Quan_df[i]["maximum"]:
        higher.append(i)

In [13]:
lower

['hsc_p']

In [14]:
higher

['hsc_p', 'degree_p', 'salary']

In [15]:
for i in lower:
    df[i][df[i]<Quan_df[i]["Lower_Fence"]]=Quan_df[i]["Lower_Fence"]
for i in higher:
    df[i][df[i]>Quan_df[i]["Higher_Fence"]]=Quan_df[i]["Higher_Fence"]

C:\Users\Nagendran\AppData\Local\Temp\ipykernel_12236\1342503180.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][df[i]<Quan_df[i]["Lower_Fence"]]=Quan_df[i]["Lower_Fence"]
C:\Users\Nagendran\AppData\Local\Temp\ipykernel_12236\1342503180.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][df[i]>Quan_df[i]["Higher_Fence"]]=Quan_df[i]["Higher_Fence"]
C:\Users\Nagendran\AppData\Local\Temp\ipykernel_12236\1342503180.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][df[i]>Quan_df[i]["Higher_Fence"]]=Quan_df[i]["Higher_Fence"]
C:\Users\Nagendran\AppData\Local\Temp\ipykernel_12236\1342503180.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][df[i]>Quan_df[i]["Higher_Fence"]]=Quan_df[i]["Higher_Fence"]

In [16]:
Quan_df=pd.DataFrame(columns=quan,index=["Mean","Median","Mode",
                                         "Q1-25%","Q2-50%","Q3-75%","99%","Q4-100%",
                                        "IQR","1.5*IQR","Lower_Fence","Higher_Fence","minimum","maximum"])
for i in Quan_df:
    Quan_df[i]["Mean"]=df[i].mean()
    Quan_df[i]["Median"]=df[i].median()
    Quan_df[i]["Mode"]=df[i].mode()[0]
    Quan_df[i]["Q1-25%"]=df.describe()[i]["25%"]
    Quan_df[i]["Q2-50%"]=df.describe()[i]["50%"]
    Quan_df[i]["Q3-75%"]=df.describe()[i]["75%"]
    Quan_df[i]["99%"]=np.percentile(df[i],99)
    Quan_df[i]["Q4-100%"]=df.describe()[i]["max"]
    Quan_df[i]["IQR"]=Quan_df[i]["Q3-75%"]-Quan_df[i]["Q1-25%"]
    Quan_df[i]["1.5*IQR"]=1.5*Quan_df[i]["IQR"]
    Quan_df[i]["Lower_Fence"]=Quan_df[i]["Q1-25%"]-Quan_df[i]["1.5*IQR"]
    Quan_df[i]["Higher_Fence"]=Quan_df[i]["Q3-75%"]+Quan_df[i]["1.5*IQR"]
    Quan_df[i]["minimum"]=df[i].min()
    Quan_df[i]["maximum"]=df[i].max()
Quan_df

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1-25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2-50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3-75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.129,83.86,97.0,76.1142,NaN
Q4-100%,215.0,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5*IQR,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lower_Fence,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Higher_Fence,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
minimum,1,40.89,42.75,50.0,50.0,51.21,200000.0
maximum,215,89.4,91.15,88.5,98.0,77.89,390000.0

In [17]:
lower=[]
higher=[]
for i in Quan_df:
    if Quan_df[i]["Lower_Fence"]>Quan_df[i]["minimum"]:
        lower.append(i)
    if Quan_df[i]["Higher_Fence"]<Quan_df[i]["maximum"]:
        higher.append(i)

In [18]:
lower

[]

In [19]:
higher

[]